<svg class="circuit-diagram" viewBox="0 0 720 160" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="arcuate 형태소 도식">
  <defs><marker id="arc-m-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker></defs>
  <g class="cd-box cd-molecule" transform="translate(20,50)"><rect width="180" height="60" rx="8"/><text class="cd-label" x="90" y="24">arcuate (라틴어)</text><text class="cd-sublabel" x="90" y="42">"활 모양의" (arcus = 활)</text></g>
  <g class="cd-box cd-output" transform="translate(260,10)"><rect width="240" height="36" rx="6"/><text class="cd-sublabel" x="120" y="22" font-weight="600" fill="#2c2b29">arcuate nucleus (ARC, 활꼴핵)</text></g>
  <g class="cd-box cd-output" transform="translate(260,55)"><rect width="240" height="36" rx="6"/><text class="cd-sublabel" x="120" y="22" font-weight="600" fill="#2c2b29">arcuate fasciculus (백질 다발)</text></g>
  <g class="cd-box cd-output" transform="translate(260,100)"><rect width="240" height="36" rx="6"/><text class="cd-sublabel" x="120" y="22" font-weight="600" fill="#2c2b29">arcuate artery (콩팥·발)</text></g>
  <g class="cd-box cd-input" transform="translate(540,50)"><rect width="160" height="60" rx="8" stroke-dasharray="3 3"/><text class="cd-label" x="80" y="24">한자: 弓狀</text><text class="cd-sublabel" x="80" y="42">"활 모양"</text></g>
  <path class="cd-arrow" d="M 200,70 L 260,28" marker-end="url(#arc-m-a)"/>
  <path class="cd-arrow" d="M 200,80 L 260,73" marker-end="url(#arc-m-a)"/>
  <path class="cd-arrow" d="M 200,90 L 260,118" marker-end="url(#arc-m-a)"/>
</svg>
