<svg class="circuit-diagram" viewBox="0 0 720 200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="hypo- 형태소 도식">
  <defs><marker id="hyp-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker></defs>
  <g class="cd-box cd-molecule" transform="translate(20,80)"><rect width="180" height="60" rx="8"/><text class="cd-label" x="90" y="24">hypo- (그리스어)</text><text class="cd-sublabel" x="90" y="42">"아래 / 낮은"</text></g>
  <g class="cd-box cd-output" transform="translate(260,15)"><rect width="220" height="36" rx="6"/><text class="cd-sublabel" x="110" y="22" font-weight="600" fill="#2c2b29">hypothalamus (시상 아래)</text></g>
  <g class="cd-box cd-output" transform="translate(260,60)"><rect width="220" height="36" rx="6"/><text class="cd-sublabel" x="110" y="22" font-weight="600" fill="#2c2b29">hypophysis (= 뇌하수체)</text></g>
  <g class="cd-box cd-output" transform="translate(260,105)"><rect width="220" height="36" rx="6"/><text class="cd-sublabel" x="110" y="22" font-weight="600" fill="#2c2b29">hypoglycemia (저혈당)</text></g>
  <g class="cd-box cd-output" transform="translate(260,150)"><rect width="220" height="36" rx="6"/><text class="cd-sublabel" x="110" y="22" font-weight="600" fill="#2c2b29">hypothermia (저체온)</text></g>
  <g class="cd-box cd-input" transform="translate(520,80)"><rect width="180" height="60" rx="8" stroke-dasharray="3 3"/><text class="cd-label" x="90" y="24">정반대: hyper-</text><text class="cd-sublabel" x="90" y="42">"위·과다"</text></g>
  <path class="cd-arrow" d="M 200,90 L 260,33" marker-end="url(#hyp-a)"/>
  <path class="cd-arrow" d="M 200,100 L 260,78" marker-end="url(#hyp-a)"/>
  <path class="cd-arrow" d="M 200,110 L 260,123" marker-end="url(#hyp-a)"/>
  <path class="cd-arrow" d="M 200,120 L 260,168" marker-end="url(#hyp-a)"/>
</svg>
