<svg class="circuit-diagram" viewBox="0 0 720 200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="CA1 미니 도식">
  <defs><marker id="ca1-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker></defs>
  <g class="cd-box cd-nucleus" transform="translate(20,30)"><rect width="160" height="50" rx="8"/><text class="cd-label" x="80" y="22">CA3</text><text class="cd-sublabel" x="80" y="38">Schaffer collateral</text></g>
  <g class="cd-box cd-nucleus" transform="translate(20,110)"><rect width="160" height="50" rx="8"/><text class="cd-label" x="80" y="22">EC III</text><text class="cd-sublabel" x="80" y="38">temporoammonic</text></g>
  <g class="cd-box cd-nucleus" transform="translate(240,55)"><rect width="220" height="80" rx="8"/><text class="cd-label" x="110" y="26">CA1</text><text class="cd-sublabel" x="110" y="44">두 입력 비교 + LTP 무대</text><text class="cd-sublabel" x="110" y="62">장소세포 (place cell)</text></g>
  <g class="cd-box cd-output" transform="translate(520,55)"><rect width="180" height="80" rx="8"/><text class="cd-label" x="90" y="26">분리부 → EC V</text><text class="cd-sublabel" x="90" y="44">→ 신피질</text></g>
  <path class="cd-arrow" d="M 180,55 L 240,80" marker-end="url(#ca1-a)"/>
  <text class="cd-edge cd-edge-sub" x="200" y="46">회상</text>
  <path class="cd-arrow" d="M 180,135 L 240,110" marker-end="url(#ca1-a)"/>
  <text class="cd-edge cd-edge-sub" x="200" y="155">현재</text>
  <path class="cd-arrow" d="M 460,95 L 520,95" marker-end="url(#ca1-a)"/>
</svg>
