<svg class="circuit-diagram" viewBox="0 0 720 220" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="CeA 미니 도식">
  <defs><marker id="cea-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker></defs>
  <g class="cd-box cd-nucleus" transform="translate(20,80)"><rect width="180" height="60" rx="8"/><text class="cd-label" x="90" y="24">BLA</text><text class="cd-sublabel" x="90" y="42">위협 평가</text></g>
  <g class="cd-box cd-nucleus" transform="translate(260,80)"><rect width="180" height="60" rx="8"/><text class="cd-label" x="90" y="24">CeA</text><text class="cd-sublabel" x="90" y="42">출력 라우터 (GABA)</text></g>
  <g class="cd-box cd-output" transform="translate(500,10)"><rect width="200" height="40" rx="6"/><text class="cd-sublabel" x="100" y="18" font-weight="600" fill="#2c2b29">PAG → 동결</text><text class="cd-sublabel" x="100" y="32">방어 행동</text></g>
  <g class="cd-box cd-output" transform="translate(500,60)"><rect width="200" height="40" rx="6"/><text class="cd-sublabel" x="100" y="18" font-weight="600" fill="#2c2b29">시상하부 외측</text><text class="cd-sublabel" x="100" y="32">교감 → 심박·발한</text></g>
  <g class="cd-box cd-output" transform="translate(500,110)"><rect width="200" height="40" rx="6"/><text class="cd-sublabel" x="100" y="18" font-weight="600" fill="#2c2b29">PVN → HPA</text><text class="cd-sublabel" x="100" y="32">코르티솔 ↑</text></g>
  <g class="cd-box cd-output" transform="translate(500,160)"><rect width="200" height="40" rx="6"/><text class="cd-sublabel" x="100" y="18" font-weight="600" fill="#2c2b29">청반 (LC)</text><text class="cd-sublabel" x="100" y="32">NE → 각성</text></g>
  <path class="cd-arrow" d="M 200,110 L 260,110" marker-end="url(#cea-a)"/>
  <path class="cd-arrow" d="M 440,100 L 500,30" marker-end="url(#cea-a)"/>
  <path class="cd-arrow" d="M 440,108 L 500,80" marker-end="url(#cea-a)"/>
  <path class="cd-arrow" d="M 440,116 L 500,130" marker-end="url(#cea-a)"/>
  <path class="cd-arrow" d="M 440,128 L 500,180" marker-end="url(#cea-a)"/>
</svg>
