<svg class="circuit-diagram" viewBox="0 0 720 180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="VPL 미니 도식">
  <defs><marker id="vpl-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker></defs>
  <g class="cd-box cd-input" transform="translate(20,40)"><rect width="180" height="44" rx="8"/><text class="cd-label" x="90" y="20">후주 (lemniscal)</text><text class="cd-sublabel" x="90" y="36">정밀 촉각·고유감각</text></g>
  <g class="cd-box cd-input" transform="translate(20,110)"><rect width="180" height="44" rx="8"/><text class="cd-label" x="90" y="20">STT (spinothalamic)</text><text class="cd-sublabel" x="90" y="36">통각 · 온도</text></g>
  <g class="cd-box cd-nucleus" transform="translate(260,50)"><rect width="180" height="80" rx="8"/><text class="cd-label" x="90" y="24">VPL</text><text class="cd-sublabel" x="90" y="42">시상 체성감각 중계</text><text class="cd-sublabel" x="90" y="60">몸통·사지 (얼굴은 VPM)</text></g>
  <g class="cd-box cd-output" transform="translate(500,70)"><rect width="200" height="44" rx="8"/><text class="cd-label" x="100" y="20">S1 (체성감각피질)</text><text class="cd-sublabel" x="100" y="36">somatotopy</text></g>
  <path class="cd-arrow" d="M 200,62 L 260,80" marker-end="url(#vpl-a)"/>
  <path class="cd-arrow" d="M 200,132 L 260,100" marker-end="url(#vpl-a)"/>
  <path class="cd-arrow" d="M 440,90 L 500,92" marker-end="url(#vpl-a)"/>
</svg>
