<svg class="circuit-diagram" viewBox="0 0 720 180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="RVM 미니 도식">
  <defs><marker id="rvm-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker><marker id="rvm-i" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="9" markerHeight="9" orient="auto"><line x1="9" y1="1" x2="9" y2="9" stroke="#4a4a4a" stroke-width="2"/></marker></defs>
  <g class="cd-box cd-nucleus" transform="translate(20,60)"><rect width="180" height="60" rx="8"/><text class="cd-label" x="90" y="24">PAG</text><text class="cd-sublabel" x="90" y="42">하행 진통 명령</text></g>
  <g class="cd-box cd-nucleus" transform="translate(260,40)"><rect width="180" height="100" rx="8"/><text class="cd-label" x="90" y="26">RVM</text><text class="cd-sublabel" x="90" y="44">연수 복내측부</text><text class="cd-sublabel" x="90" y="64">5-HT · NE 분비</text><text class="cd-sublabel" x="90" y="80">OFF/ON 세포</text></g>
  <g class="cd-box cd-output" transform="translate(500,60)"><rect width="200" height="60" rx="8"/><text class="cd-label" x="100" y="24">척수 후각</text><text class="cd-sublabel" x="100" y="42">substance P 차단</text></g>
  <path class="cd-arrow" d="M 200,90 L 260,90" marker-end="url(#rvm-a)"/>
  <path class="cd-arrow-inhibit" d="M 440,90 L 500,90" marker-end="url(#rvm-i)"/>
  <text class="cd-edge cd-edge-sub" x="470" y="80">진통</text>
</svg>
