<svg class="circuit-diagram" viewBox="0 0 720 180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="BLA 미니 도식">
  <defs><marker id="bla-a" viewBox="0 0 10 10" refX="9" refY="5" markerWidth="7" markerHeight="7" orient="auto"><path d="M0,0 L10,5 L0,10 z" fill="#b15c40"/></marker></defs>
  <g class="cd-box cd-input" transform="translate(20,30)"><rect width="180" height="48" rx="8"/><text class="cd-label" x="90" y="20">시상 (low road)</text><text class="cd-sublabel" x="90" y="36">~12 ms 거친 신호</text></g>
  <g class="cd-box cd-input" transform="translate(20,100)"><rect width="180" height="48" rx="8"/><text class="cd-label" x="90" y="20">감각피질 (high road)</text><text class="cd-sublabel" x="90" y="36">~30 ms 정밀</text></g>
  <g class="cd-box cd-nucleus" transform="translate(260,40)"><rect width="180" height="100" rx="8"/><text class="cd-label" x="90" y="26">BLA</text><text class="cd-sublabel" x="90" y="44">외측-기저 편도체</text><text class="cd-sublabel" x="90" y="64">학습 (LTP)</text><text class="cd-sublabel" x="90" y="80">공포 조건화</text></g>
  <g class="cd-box cd-output" transform="translate(500,60)"><rect width="200" height="60" rx="8"/><text class="cd-label" x="100" y="24">CeA</text><text class="cd-sublabel" x="100" y="42">→ 출력 라우터</text></g>
  <path class="cd-arrow" d="M 200,54 L 260,80" marker-end="url(#bla-a)"/>
  <path class="cd-arrow" d="M 200,124 L 260,100" marker-end="url(#bla-a)"/>
  <path class="cd-arrow" d="M 440,90 L 500,90" marker-end="url(#bla-a)"/>
  <text class="cd-edge cd-edge-sub" x="470" y="80">위협 평가</text>
</svg>
